$color-primary: #0c0c0c;
$color-secondary: #fff;
$color-text-dark: #f5a038;
$color-button: #f5a038;
$color-button-text: #212529;
$color-teriary: #f5f5dc;

$row-margin-tb: 9%;

$buttons_carousel: 32px;